@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');
h1 {
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}

.navBar{
    text-align: center
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btnRec {
    background-color:blue;
}
.btnRate {
    background-color:red;
}