@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

.header{
    text-align: center;
    padding-top: 40px;

}
h1{
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    font-size: 60px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.image{
    height: 5%;
    width: 5%;
    min-width: 60px;
    display: inline-block;
}

.navBar{
    text-align: center;
    padding-bottom: 40px;
}

.welcome_tag {
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    font-size: 15px;
}

.button {
    background-color: blue; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'Courier Prime', monospace;
    margin: 4px 2px;
    cursor: pointer;
}

.btnRec {
    background-color : #4CAF50;
}
.btnRate {
    background-color:red;
}

.container{
    text-align: center;
}

.main{
    margin: auto;
    min-height: 450px;
    width: 85%;
    background-color: #E8E8E8;
}

.list_image{
    height: 40px;
}
.list_text{
    font-family: 'Courier Prime', monospace;
    padding-left: 8px;
}

.ratings_information{
    padding-top: 10px;
    font-weight: bold;
    font-family: 'Courier Prime', monospace;
    font-size: 15px;
    color: red;
}

.temp_message {
    padding-top: 10px;
    font-weight: bold;
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
    color: #4CAF50;
}