@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

.header{
    text-align: center;
    padding-top: 40px;

}
h1{
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    font-size: 60px;
    display: inline-block;
}
.image{
    height: 5%;
    width: 5%;
    min-width: 60px;
    display: inline-block;
}

.navBar{
    text-align: center;
    padding-bottom: 40px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btnRec {
    background-color:blue;
}
.btnRate {
    background-color:red;
}

.container{
    text-align: center;
}

.main{
    margin: auto;
    min-height: 450px;
    width: 85%;
    background-color: #E8E8E8;
}