<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>BookRecc</title>
  </head>
  
  <body>

    <div class="header">
      <img class="image" src="static/img/books.png"/>
      <h1> BookRecc </h1>
      <img class="image" src="static/img/books.png"/>
    </div>

    <div class="navBar"> 
      <button class="button btnRec" href="/myrecommendations">Get my recommendations</button>
      <button class="button btnRate" href="/ratings">Make some ratings</button>
      <button class="button btnRecOther" href="/otherrecommendations">Check someone's recommendations</button>
    </div>

    <div class="container" >
      <div class="main">
      </div>
    </div>
    
  </body>

  </html>
